# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE or editor files
.vscode/
.idea/

# Logs
*.log

# Output folders
outputs/
runs/

# Environment variables file
.env

# OS-specific files
.DS_Store
Thumbs.db

# Model files
*.pt
*.pth

# Shell scripts
jobs/detection/*.sh
jobs/segmentation/*.sh

# Clinical
clinical/

# Jobs
jobs/

# YAMLs
detection/coco/coco_yamls/used

# Eggs
*.egg*